/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

df-messenger {
  --df-messenger-message-bot-background-color: #dcfce7;
  --df-messenger-primary-color: #10b981;
  --df-messenger-chat-border-radius: 4px;
  --df-messenger-chat-background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://i.pinimg.com/736x/da/b4/8d/dab48d7b51f9833e9eddb1a1355594a4.jpg");
}
